.container {
    background: #FFFFFF;
    min-height: 100vh;
    width: auto;
    margin-left: 64px;
    padding: 0 28px 0;

    .title {
        padding-top: 86px;

        p:first-child {
            color: #000000DE;
            font-size: 28px;
            line-height: 44px;
            margin-bottom: 0;
        }
        p:last-child {
            font-weight: 400;
            margin-top: 8px;
            font-size: 19px;
        }
    }

    hr {
        border-top: 1px solid #BDBDBD;
    }

    .quantity-elements {
        p {
            font-size: 14px;
            color: #00000099;
            font-weight: 400;
        }
    }

    .elements {
        
        .element-item {
            display: flex;
            flex-direction: row;
        }

        .image {
            margin-right: 20px;
            img {
                border: 1px solid #565656;
                border-radius: 4px;
            }
        }

        .description {
            width: 65rem;

            p:first-child {
                font-weight: 700;
            }
        }
    }

    .pages {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin: 30px 0 20px;

        p {
            margin: 0;
            margin-right: 40px;
            color: #00000099;
        }

        button {
            color: #00000099;
        }
    }
}