<div class="container">
    <div class="header">
        <div class="title">
            <p>Fase teste prático Front_end</p>
            <p>Pokebusca</p>
        </div>
        <div class="search">
            <input type="text" class="form-control" id="search" placeholder="&#xe8b6;"
            [(ngModel)]="search" (ngModelChange)="getSearch(search)">
        </div>
    </div>

    <hr>

    <div class="quantity-elements">
        <p>Exibindo {{itensPerPage}} de {{maxElement}} itens</p>
    </div>

    <hr>

    <div class="elements" *ngFor="let item of pokemonList.results">
        <div class="element-item">
            <div class="image">
                <img [src]="pokemonImage" alt="pokemon">
            </div>
            <div class="description">
                <a>{{item.name | titlecase}}</a>
                <p>Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="pages" *ngIf="!inSearch">
        <p>{{currentPage}} de {{totalPages}} páginas</p>
        <div class="arrows">
            <button type="button" class="btn btn-link" [disabled]="!pokemonList.previous" (click)="firstOrLastPage('first')">
                <span class="material-symbols-outlined">
                    first_page
                </span>
            </button>
            <button type="button" class="btn btn-link" [disabled]="!pokemonList.previous" (click)="changePage('previous')">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </button>
            <button type="button" class="btn btn-link" [disabled]="!pokemonList.next" (click)="changePage('next')">
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </button>
            <button type="button" class="btn btn-link" [disabled]="!pokemonList.next" (click)="firstOrLastPage('last')">
                <span class="material-symbols-outlined">
                    last_page
                </span>
            </button>
        </div>
    </div>
</div>