body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #F4F4F4 !important;
}
html, body { height: 100%; }
body { margin: 0; }

@media (max-width: 600px) {
    body {
        background-color: #FFFFFF !important;
    }
}